* {
  margin: 10px;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}
.landing-container {
  display: flex;
  flex: wrap;
}
.landing-container div {
  padding: 10px;
}
.landing-avatar {
  flex: 1;
  text-align: end;
}
.landing-text {
  flex: 1;
  align-self: center;
}
.avatar {
  height: 300px;
  width: 300px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.icon-container {
  display: flex;
  border-bottom: 1px solid rgb(75, 75, 75);
}

.icons {
  font-size: 3rem;
  text-align: center;
}

.icons a {
  color: black;
}

.projects-container {
  display: flex;
  flex: wrap;
  flex-direction: column;
}

.section-title {
  flex: 1;
  text-align: center;
  border-bottom: rgba(75, 75, 75) solid 1px;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  max-width: 300px;
  min-width: 300px;
  height: 300px;
  border: solid rgba(75, 75, 75) 1px;
  border-radius: 10px;
}

.project-card img {
  height: 174px;
  border-radius: 10px;
}

.project-card:hover {
  cursor: pointer;
}
