* {
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
.landing-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* .landing-container div {
} */
.title-container {
  text-align: center;
}
.title-icon {
  font-size: 100px;
  font-weight: 100;
}
.landing-subtext {
  align-self: center;
  font-size: 2rem;
}
.landing-subtext button {
  margin-top: 25px;
  padding: 13px 30px;
  text-decoration: none;
  font-size: 16px;
}
.avatar {
  height: 300px;
  width: 300px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.icon-container {
  display: flex;
  border-bottom: 1px solid rgb(75, 75, 75);
}

.icons {
  font-size: 3rem;
  text-align: center;
}

.icons a {
  color: black;
}

.projects-container {
  display: flex;
  flex: wrap;
  flex-direction: column;
}

.section-title {
  flex: 1;
  text-align: center;
  border-bottom: rgba(75, 75, 75) solid 1px;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  max-width: 300px;
  min-width: 300px;
  height: 300px;
  border: solid rgba(75, 75, 75) 1px;
  border-radius: 10px;
}

.project-card img {
  height: 174px;
  border-radius: 10px;
}

.project-card:hover {
  cursor: pointer;
}
